.borde{
  border: 1px black solid;
}

.tituloh1{
  text-align: center;
  color: #aa3053;

}

.tamañoimagenes{
  max-width: 100px;
  min-width: 50px;
}


.tituloprod{
  background-color: #fff4f8;
  font-family: lora;
  text-align: center;
  font-weight: bold;
  
}

.precioprod{
  text-align: center;
  
}

.botonreservar{
padding: 0%;
}

.global{
  height: 95px;
	width: 200px;
	border: 1px solid gray;
	background: white;
	overflow-y: scroll;
}