.borde{
  border: 1px black solid;
}

.tamañoimagenes{
  max-width: 150px;
  min-width: 50px;
}

.subtitulos{
  color: #aa3053;
  text-align: center;
}

.tituloprod{
  background-color: #fff4f8;
  font-family: lora;
  text-align: center;
  font-weight: bold;
  
}

.precioprod{
  text-align: center;
  
}

.botonreservar{
padding: 0%;
}