.borde{
  border: 1px gray solid;
  border-radius: 4px;
}

.tituloh1{
  text-align: center;
  color: #aa3053;

}

.tamañoimagenes{
  max-width: 100px;
  min-width: 50px;
}


.tituloprod{
  background-color: #fff4f8;
  font-family: lora;
  text-align: center;
  font-weight: bold;
  
}

.precioprod{
  text-align: center;
  
}

.botonreservar{
padding: 0%;
}

.global{
  max-height: 95px;
  min-height: 40px;
	max-width: 200px;
  min-width: 60px;
	border: 1px solid gray;
	background: white;
	overflow-y: scroll;
}

/*boton personalizado (tienes que eliminar la clase que le da color al boton en html)*/

.btn-samplex { 
  color: #FFF4F8; 
  background-color: #AA3053; 
  border-color: #FFF4F8; 
} 
 
.btn-samplex:hover, 
.btn-samplex:focus, 
.btn-samplex:active, 
.btn-samplex.active, 
.open .dropdown-toggle.btn-samplex { 
  color: #FFF4F8; 
  background-color: #FDAAB5; 
  border-color: #FFF4F8; 
} 
 
.btn-samplex:active, 
.btn-samplex.active, 
.open .dropdown-toggle.btn-samplex { 
  background-image: none; 
} 
 
.btn-samplex.disabled, 
.btn-samplex[disabled], 
fieldset[disabled] .btn-samplex, 
.btn-samplex.disabled:hover, 
.btn-samplex[disabled]:hover, 
fieldset[disabled] .btn-samplex:hover, 
.btn-samplex.disabled:focus, 
.btn-samplex[disabled]:focus, 
fieldset[disabled] .btn-samplex:focus, 
.btn-samplex.disabled:active, 
.btn-samplex[disabled]:active, 
fieldset[disabled] .btn-samplex:active, 
.btn-samplex.disabled.active, 
.btn-samplex[disabled].active, 
fieldset[disabled] .btn-samplex.active { 
  background-color: #AA3053; 
  border-color: #FFF4F8; 
} 
 
.btn-samplex .badge { 
  color: #AA3053; 
  background-color: #FFF4F8; 
}

/*Final boton personalizado*/

.tarjetarosa{
  background-color: #ffddc3;
}  