@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #fa4299;
  color: #fff;
}
html, body{
  display: grid;
  height: 100%;
  width: 100%;
}
.container{
  background: #FFF4F8;
  color: #644747; 
  display: grid;
  grid-template-rows: 60px auto 200px;
}
/* ingresar codigo de navbar */
.navbar{
  grid-row: 1;
  background:#FDAAB5;
  display: grid; 
}

/* ingresar codigo de login/signin */
.wrapper{
  grid-row: 2; 
  text-align: center;
  place-items: center;
  place-self: stretch center;
  width: 300px;
}
.logo{
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
}
.titulo{
  border-bottom: 10px;
}
.form input{
  margin-top: 10px;
  font-size: 15px;
  width: 100%;
}
.field{
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: none;
}
.field1{
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}
.eye{
  position: absolute;
  cursor: pointer;
}
#hide1, #hide3, #hide5{
  display: none;
}
.form .field1 span{
  position: relative;
  right: -128px;
  top: -25px
}
.pass-link{
  text-align: right;
  color: #AA3053;
  margin-top: 10px;
}
.form form .pass-link a{
  color: #AA3053;
  text-decoration: none;
  font-size: small;
  /* position: relative; */
  /* top: -24px */
}
.form form .signup-link{
  text-decoration: none;
  font-size: small;
}
.form form .signup-link a{
  color: #AA3053;
  text-decoration: none;
  font-size: small;
}
.form form .pass-link a:hover, .form form .signup-link a:hover{
  text-decoration: underline;
}
.form form .aviso{
  text-decoration: none;
  font-size: small;
  margin-top: 7px;
  margin-bottom: 10px;
}
/* formato labels */
.form .field input,.form .field1 input{
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #644747;
  font-size: 12px;
  height:30px;
}
.form .field input:focus, .form .field1 input:focus{
  border-color: #AA3053;
  outline: none;
}
form .field input:focus::placeholder, form .field1 input:focus::placeholder{
  color: #b3b3b3;
  outline: none;
}

.checkbox{
  font-size: small;
  text-align: left;
  display: inline;
  width: 0%;
  /* position: relative; */
  margin: 0%;

}
.btn, .btn2{
  cursor: pointer;
}
form .btn input[type="submit"]{
  background: #FD5060;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
}
form .btn2 input[type="submit"]{
  background: #FD5060;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
}
hr{
  background-color: #636262;
  height: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icon{
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer;
}
.iconn{
  margin-right: 20px;
  display: inline;
}
.divisior{
  font-size: 15px;
}
.mensaje{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 12px;
}
.btn2{
  margin-top: 15px;
}


/* ingresar codigo del contact */
.footer{
  grid-row: 3;
  background:#644747; 
  color: white;
}