.borde{
  border: 3px black solid;
}
body{
  background-image: linear-gradient(to bottom, white, #FFCCD3 );
}
.PuntoDeVista{
  min-height: 100vh;
  width: 100%;
}

.seccion2{
  padding: 2%;
}
.cont{
  width: 100%;
  margin: auto;
  background-color: #ab3053;
  color: white;
  border: none;
}
.cont:hover{
  background-color: #c5486bcb;
}
.cont:focus{
  background-color: #c5486bcb;
  border: none;
}
.formatocartaparrafo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.EspacioCartaEntreTexto{
  padding-top: 5%;
  padding-bottom: 5%;
}
.ColorBoton{
  background-color:white;
  border: 3px #FFCCD3 solid;
}

.espaciotitulocarrusel4{
  padding-bottom: 5%;
}
.redesFixed{
  margin: 0;
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 2;
  background-color: rgba(247, 186, 196, 0.336);
  padding: 7px 10px 7px 7px;
  border-radius: 0 20px 20px 0;
}
.imgTam{
  padding-bottom: 5px;
}

.tamañologo{
  max-width: 60%;
}

.letters{
	animation: jsLetter 4s 1;
}

.logo{
	animation: logoAnimation 3s 3s 1;
}

@keyframes jsLetter{
  0%{ 
		color: red;		
    transform: rotate(0deg); 
  }
  100%{
		color: white;		
    transform: rotate(360deg);		
  } 
}
@keyframes logoAnimation{
  0%{ 
		color: black;		
    transform: scale(0); 
  }
	100%{ 
		color: yellow;		
    transform: scale(1);
  } 
}
.footer {
  background-color: #634646;
  position:relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: antiquewhite;
}

.footerText{
  position: absolute;
  top:40%;
  left: 1%;
}

.footerTextDrcha{
  position: absolute;
  top:40%;
  right: 1%;
}