

.cardcontainer{
  background: #FFF4F8;
  color: #644747; 
  width: 394px;
  height: 148px;
  display: grid;
  grid-template-rows: 148px auto auto;
  grid-template-columns: 162px auto auto;
}

.picture{
  grid-column: 1;
}
.title{
  grid-column: 2;
}
.price{
  grid-column: 2;
  grid-row: 2;
}
.bag{
  grid-column: 3;
  grid-row: 2;
}
.dropdown{
  grid-column: 1;
  grid-row: 3;
}
